// global settings

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// variables 

$dark-grey: #232323;
$light-grey: #404040;
$red: #a61b2b;

// header

.hero {
    background-color: $dark-grey;
    h1 {
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 1.5em;
        padding-bottom: 30px;
    }
        span{
            color: $red;
            font-weight: bold;
        }
    
    img {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100px;
        height: auto;
    }
    .menu{
        li{
            display: inline-block;
            color: white;
            text-align: center;

            a{
                text-decoration: none;
                color: white;
            }
        }
}
}

// cards 

.bg {
    background-color: white;
}

.first-team,
.second-team {
    .player {
        background-color: white;
        border-radius: 15px;
        border: none;
        -webkit-box-shadow: 2px 1px 12px -2px rgba(0, 0, 0, 0.6);
        box-shadow: 2px 1px 12px -2px rgba(0, 0, 0, 0.6);
        margin: 10px;
        padding: 0;
        &:hover {
            border: 2px solid $red;
            border-radius: 15px;
        }
    }
    .flag {
        width: 32px;
        padding-bottom: 10px;
        border-radius: 5px;
    }
    h1 {
        padding: 15px 0;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: bold;
        color: $red;
        text-align: center;
        margin-bottom: 0;
    }
    img {
        width: 100%;
        border-radius: 15px 15px 0 0;
    }
    h3 {
        padding-top: 10px;
        color: $red;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1em;
        margin-bottom: 0;
    }
    p {
        text-align: center;
        font-size: 10px;
        margin-bottom: 0;
    }
    .number {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 0;
        color: $dark-grey;
        padding-bottom: 0;
    }
}

    .second-team{
        margin-bottom: 15px;
    }

footer{
    background-color: #232323;
    height: 100%;

    p{
        color: white;
        text-align: center;
        background-color: #232323;
        padding: 15px;
        margin: 0;
    }
}